<div id="prod-top" class="prod-top-img col-md-12">
 <div class="cart-txt-shop">
   <img src="images/exclamation-point.png" alt="ExclamationMark" /> <p class="text-info">
        Thanks for shopping at the Angustore.<br />
        This is your shopping cart. Here you can edit the items, 
        go back to the store, clear the cart, or check out.
    </p>
  </div>
</div>


  <div class="col-md-12 content-backcolor" ng-controller="postController">
        <h2>Please compile the form!</h2>
        <div class="box-content contact">
               
            <div class="panel-body">
                    <form ng-submit="submitForm(contactform)" name="contactform" class="form-horizontal">
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                            <div class="col-lg-12">
                                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputSurname.$invalid && submitted }">
                            <div class="col-lg-12">
                                <input ng-model="formData.inputSurname" type="text" class="form-control" id="inputSurname" name="inputSurname" placeholder="Your Surname" required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                            <div class="col-lg-12">
                                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required autocomplete="off">
                            </div>
                        </div>
                        <!-- COUNTRY -->
                    <div class="form-group" ng-class="{'form-group':true}"> 
                            <div class="col-lg-12">
                                <select ng-model="formData.country" class="select-opt form-control-select">
                                    <option class="frt-options" value=""> - Select a Country -</option>
                                    <option ng-repeat="country in countries" class="other-opt" value="{{country.name}}">{{country.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- City -->
                    <div class="form-group" ng-class="{'form-error':contactForm.city.$dirty && contactForm.city.$invalid, 'form-group':true}">
                        <div class="col-lg-12"><input type="text" name="city" class="form-control" ng-model="formData.city" placeholder="City" ng-minlength="3" required="" autocomplete="off"/></div>
                        <div ng-messages="contactForm.city.$error" ng-show="contactForm.city.$dirty" >
                            <div ng-message="required">Required City</div>
                        </div>
                    </div>
                    <!-- ADDRESS -->
                    <div class="form-group" ng-class="{'form-error':contactForm.address.$dirty && contactForm.address.$invalid, 'form-group':true}">
                        <div class="col-lg-12"><input type="text" name="address" class="form-control" ng-model="formData.address" placeholder="Address" ng-minlength="3" required="" autocomplete="off"/></div>
                        <div ng-messages="contactForm.address.$error" ng-show="contactForm.address.$dirty" >
                            <div ng-message="minlength">Address too short</div>
                            <div ng-message="required">Required Address</div>
                        </div>
                    </div>

                        <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                            <div class="col-lg-12">
                                <textarea ng-model="formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-cart btn-send-order" ng-disabled="submitButtonDisabled">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                    <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
                </div>
        </div>

        <div class="col-md-8 cart-prod">

            <!-- items -->
            <table class="table table-bordered tab-shop">

                <!-- header -->
                <tr class="well">
                    <td ><b>Item</b></td>
                    <td class="tdCenter"><b>Quantity</b></td>
                    <td class="tdRight"><b>Price</b></td>
                    <td />
                </tr>

                <!-- empty cart message -->
                <tr ng-hide="cart.getTotalCount() > 0" >
                    <td class="tdCenter" colspan="4">
                        Your cart is empty.
                    </td>
                </tr>

                <!-- cart items -->
                <tr ng-repeat="item in cart.items | orderBy:'name'" >
                    <td><img ng-src="images/{{item.src}}" alt="" /> {{item.name}}</td>
                    
                    <td class="tdCenter">
                      <div class="input-append" >
                        <!-- use type=tel instead of  to prevent spinners -->
                        <input 
                            class="col-md-2 text-center quantity-prod" type="tel" 
                            ng-model="item.quantity" 
                            ng-change="cart.saveItems()" />
                        <button 
                            class="btn btn-success" type="button" 
                            ng-disabled="item.quantity >= 1000"
                            ng-click="cart.addItem(item.code, item.name, item.src, item.price, +1)">+</button>
                        <button 
                            class="btn btn-inverse" type="button" 
                            ng-disabled="item.quantity <= 1"
                            ng-click="cart.addItem(item.code, item.name, item.src, item.price, -1)">-</button>
                      </div>
                    </td>
                    <td class="tdRight">{{item.price * item.quantity | currency}}</td>
                    <td class="tdCenter" title="remove from cart">
                        <a href="" ng-click="cart.addItem(item.code, item.name, item.src, item.price, -10000000)" >
                            <i class="fa fa-times"></i>
                        </a>
                    </td>
                </tr>

                <!-- footer -->
                <tr class="well">
                    <td><b>Total</b></td>
                    <td ng-model="totalCount" class="tdCenter"><b>{{cart.getTotalCount()}}</b></td>
                    <td ng-model="totalPrice" class="tdRight"><b>{{cart.getTotalPrice() | currency}}</b></td>
                </tr>
            </table>
        </div>

        <!-- buttons -->
      <div class="col-md-4">
          <p class="text-info">
              <button 
                  class="btn btn-block" 
                  onclick="window.location.href='index.html'">
                  <i class="icon-chevron-left" /> back to store
              </button>
              <button 
                  class="btn btn-block btn-danger" 
                  ng-click="cart.clearItems()" 
                  ng-disabled="cart.getTotalCount() < 1" >
                  <i class="icon-trash icon-white" /> clear cart
              </button>
          </p>

          <p class="text-info">
              <!-- SUBMIT BUTTON -->
              <!--<input type="submit" ng-click="processForm()" ng-disabled="contactForm.$invalid" value="Send Mail" class="btn btn-block btn-primary"/>-->
          </p>

      </div>
      
    </div>

