
  <div id="store" class="content col-md-12" style="overflow: hidden;" ng-controller="AdminController">  
    <form class="form-search" ng-controller="countProd"> 
                    <div class="col-md-12 store-cart-content">
                      <div class="content-store col-md-6" >
                        <a href="index.html#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                                        <span class="icon-basket"></span>
                                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                                    </a>
                        </div>
                       <div class="tabs-menu col-md-6">
                         <ul class="cbp-vm-options">
                            <li ng-repeat="section in sections">
                                <a class="cbp-vm-icon cbp-vm-grid {{section.class}}" ng-class="{cbpvmselected : isSelected(section)}"  ng-click="setMaster(section)">{{section.name}}</a>
                            </li>
                        </ul>
                       </div>
                    </div>
                    <div class="col-md-12 store-button-top">
                        <div class="content-search widget_search">
                           <input type="text" ng-model="query" ng-change="search('name',query)" class="search-query" placeholder="Search">
                           <input type="submit" value="Go">
                        </div>
                        <div class="filter-button-top">
                           <button class="btn flr-top-first active" ng-click="myFilter('category',null)">All ({{totalProducts}})</button>
                           <button class="btn flr-top" ng-click="myFilter('category','mac')">MacPro ({{totalMac}})</button>
                           <button class="btn flr-top" ng-click="myFilter('category','ipad')">Ipad ({{totalIpad}})</button>
                           <button class="btn flr-top" ng-click="myFilter('category','phone')">Phone ({{totalPhone}})</button>
                           <button class="btn flr-top flr-last" ng-click="myFilter('category','sound')">Sound ({{totalSound}})</button>
                       </div>
                    </div>
                    
                    <div id="cbp-vm" class="cbp-vm-switcher" ng-class="{true: '', false: 'activegrid'}[isActive]">
                        <ul id="product" class="nav-pills nav-stacked rectangle-list">
                            <li class="my-gallery-animation" ng-repeat="product in pagedItems[currentPage]" id="{{product.id}}">
                            
                                <div class="img-prod"><img ng-src="images/{{product.src}}" alt="{{product.name}}" /></div>

                                <a class="title" href="#/products/{{product.code}}"> {{product.name}}  </a>

                                <p class="description"> {{product.description | limitTo: 120}} </p>
                                <a class="number" href="#"> {{product.num}}  </a>
                                <a href="" ng-click="cart.addItem(product.id, product.code, product.name, product.src, product.price, 1)">
                                   <div class="btn btn-cart">Add cart</div>
                                </a>
                                <a class="details-button" href="#/products/{{product.code}}">
                                   <div class="btn btn-cart">Details</div>
                                </a>
                                <p class="content_desc"> 
                                        {{product.price | currency}} 
                                        <span ng-show="cart.getTotalCount(product.code) > 0"><i class="fa fa-check"></i>{{cart.getTotalCount(product.code)}}</span>
                                  </p>
                                <div class="clear"></div>
                          </li> 
                      </ul>
                      <div class="col-md-12 store-cart-content store-cart-footer">
                       <div class="content-store col-xs-6 col-md-6" >
                        <a href="index.html#/cart" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                                        <span class="icon-basket"></span>
                                        <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
                                    </a>
                        </div>
                        <div class="col-xs-6 col-md-6 store-down-bottom">
                          <div class='bt-direction'>
                               <button class="btn store-pag-button" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                    Previous
                                </button>
                                <p>{{currentPage + 1}}/{{numberOfPages}}</p>
                                <button class="btn btn-pag-next" ng-disabled="currentPage >= store.products.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
    </form>
  </div>

      <!-- Filter Images-->
<script type="text/javascript">
    $('.filter-button-top button').on('click', function () {
        $('.filter-button-top button').removeClass('active');
        $(this).addClass('active');
    });
</script>